<footer class="text-center bg-light">
  <a href="https://www.github.com" target="_blank" class="fab fa-github" title="GitHub"></a>
  <a href="https://www.facebook.com/GitHub/" target="_blank" class="fab fa-facebook-square" title="Find GitHub on Facebook"></a>
  <a href="https://twitter.com/github?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="fab fa-twitter-square" title="Find GitHub on Twitter"></a>
  <a href="https://www.instagram.com/github/?hl=en" target="_blank" class="fab fa-instagram" title="Find GitHub on Instagram"></a>
  <a href="https://www.youtube.com/github" target="_blank" class="fab fa-youtube" title="Find GitHub on YouTube"></a>
</footer>