<div *ngIf="this.appService.user$.login" class="container mt-4 mb-5">

    <!-- Top Page Navigation Buttons -->
    <div class="text-center w-100 repoPageBtnGroup" data-toggle="buttons">
        <button class="btn btn-outline-primary ml-1 mr-1 mt-1 mb-4" *ngFor="let dummy of ' '.repeat(this.appService.repoPages).split(''), let x = index" (click)="setPageNumber(x + 1); setBtnState()">{{x + 1}}</button>
    </div>

    <!-- Search and Sort -->
    <div class="text-center w-100">
        <input type="text" class="mt-3 mb-5 mr-1" id="repoName" placeholder="Search for a Repository" autocomplete="off" (input)="sortRepos($event.target.value)" />
        <div class="dropdown d-inline">
            <button type="button" class="btn btn-primary dropdown-toggle" id="inputBtn" data-toggle="dropdown">
                Sort
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="setAlphabetShade()" style="background-color: rgb(200, 200, 200)"><i class="fa fa-font" aria-hidden="true" style="margin-right: 6px"></i>Alphabetical</a>
                <a class="dropdown-item" (click)="setStarShade()"><i class="fa fa-star mr-1" style="margin-left: -2px" aria-hidden="true"></i>Stars</a>
                <a class="dropdown-item" (click)="setLanguageShade()"><span id="language-pill" [style.background-color]="'red'" style="margin-right: 8px; margin-left: 1px"></span>Language</a>
                <a class="dropdown-item" (click)="setDateShade()"><i class="fa fa-calendar mr-1" aria-hidden="true"></i><span style="margin-left: 2px">Date Created</span></a>
            </div>
        </div>

        <div class="dropdown d-inline">
            <button type="button" class="btn btn-primary dropdown-toggle ml-1 language-button" id="inputBtn" data-toggle="dropdown">
                Language
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="">1</a>
                <a class="dropdown-item" href="">2</a>
                <a class="dropdown-item" href="">3</a>
            </div>
        </div>
    </div>

    <!-- Repositories -->
    <div class="row container">
        <div *ngFor="let repo of this.appService.repos$" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3" style="min-width: 200px">
            <div id="inner-repo-div" class="border border-secondary rounded">
                <a href="https://github.com/{{this.appService.user$.login}}/{{repo.name}}" target="_blank">{{repo.name}}</a>
                <br />
                <h6 class="mb-5"><small>{{repo.description}}</small></h6>
                <h6 id="bottom-text">
                    <small>
                        <span *ngIf="repo.language">
                            <span class="mr-1" id="language-pill" [style.background-color]="getLanguageColor(repo.language)"></span>
                            <span class="mr-3">{{repo.language}}<span class="unselectable">&nbsp;</span></span>
                        </span>
                        <i class="fa fa-star mr-1" aria-hidden="true"></i>
                        <span >{{repo.stargazers_count}}</span>
                    </small>
                </h6>
            </div>
        </div>
    </div>

    <!-- Bottom Page Navigation Buttons -->
    <div class="text-center w-100 repoPageBtnGroup" data-toggle="buttons">
        <button class="btn btn-outline-primary ml-1 mr-1 mt-1 mb-4" *ngFor="let dummy of ' '.repeat(this.appService.repoPages).split(''), let x = index" (click)="setPageNumber(x + 1); setBtnState()">{{x + 1}}</button>
    </div>
</div>

<!-- No Public Repos Message -->
<div class="w-100 h-100 text-center" id="not-username-exists" *ngIf="this.appService.user$.public_repos == '0'">
    {{this.appService.user$.login}} has no public repos.
</div>

<!-- Message displays when user has not searched for a user yet -->
<div *ngIf="!this.appService.user$.login" class="w-100 h-75 text-center position-absolute align-items-center row" id="not-username-exists">
    <div class="col">
        Search for a user to view repositories
    </div>
</div>