#inner-repo-div {
    width: 105%;
    height: 100%;
    padding: 10px;
}

#bottom-text {
    position: absolute;
    bottom: 0;
}

#language-pill {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 1px;
    width: 12px;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}

#not-username-exists {
    padding-top: 15%;
    font-size: 200%;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.dropdown-item:active {
    background-color: rgb(210, 210, 210);
}

.dropdown-item {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}