#profile-img {
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 350px) {
    #profile-img {
        width: 70%;
    }
}

#not-username-exists {
    padding-top: 15%;
    font-size: 200%;
}