<div *ngIf="this.appService.user$.login" class="container text-center mt-3 mb-5">
    <img [src]="this.appService.user$.avatar_url" id="profile-img">
    <h3 class="mt-5">Username: <a href="https://github.com/{{this.appService.user$.login}}" target="_blank">{{this.appService.user$.login}}</a></h3>
    <h5 class="mt-2 mb-4">ID: {{this.appService.user$.id}}</h5>
    <h5 class="mb-2">Followers: {{this.appService.user$.followers}}</h5>
    <h5 class="mb-4">Following: {{this.appService.user$.following}}</h5>
    <h5 class="mt-4 mb-4">Public Repos: {{this.appService.user$.public_repos}}</h5>
    <h5>Date Joined: {{this.appService.user$.created_at | date:'MM/dd/yyyy'}}</h5>
</div>


<div *ngIf="!this.appService.user$.login" class="w-100 h-100 text-center container" id="not-username-exists">
    Search for a user to view a profile
</div>