<!-- Profile Info -->
<div *ngIf="this.appService.user$.login" class="container text-center mt-3">
    <img [src]="this.appService.user$.avatar_url" id="profile-img">
    <h3 class="mt-5">Username: <a href="https://github.com/{{this.appService.user$.login}}" target="_blank">{{this.appService.user$.login}}</a></h3>
    <h5 class="mt-2 mb-4">ID: {{this.appService.user$.id}}</h5>
    
    <div *ngIf="this.appService.user$.type === 'User'">
        <h5 class="mb-2">Followers: {{this.appService.user$.followers}}</h5>
        <h5 class="mb-4">Following: {{this.appService.user$.following}}</h5>
    </div>

    <h5 class="mt-4 mb-4">Public Repos: {{this.appService.user$.public_repos}}</h5>
    <h5>Date Joined: {{this.appService.user$.created_at | date:'MM/dd/yyyy'}}</h5>

    <button class="btn btn-primary mt-4" (click)="showInfo()" style="width: 125px">
        {{this.appService.showInfoMessage}}
        <span [class]="appService.infoClass"></span>
    </button>
</div>

<!-- Message displays when user has not searched for a user yet -->
<div *ngIf="!this.appService.user$.login" class="w-100 h-75 text-center position-absolute align-items-center row" id="not-username-exists">
    <div class="col">
        Search for a user to view a profile
    </div>
</div>

<!-- More Info -->
<div *ngIf="this.appService.showInfoState" class="container text-center mt-4 mb-5">
    <h5 class="mb-2" *ngIf="this.appService.user$.type !== null">{{this.appService.user$.type}}</h5>
    <hr style="width: 200px">
    <h5 class="mb-2" *ngIf="this.appService.user$.bio !== null">Bio: {{this.appService.user$.bio}}</h5>
    <h5 class="mb-2" *ngIf="this.appService.user$.location !== null">Location: <a href="https://www.google.com/maps/place/{{this.appService.user$.location}}" target="_blank">{{this.appService.user$.location}}</a></h5>
    <h5 class="mb-2" *ngIf="this.appService.user$.email !== null">Email: <a href="mailto:{{this.appService.user$.email}}">{{this.appService.user$.email}}</a></h5>
    <h5 class="mb-2" *ngIf="this.appService.user$.site_admin !== null">Site Admin: 
        <span *ngIf="this.appService.user$.site_admin">Yes</span>
        <span *ngIf="!this.appService.user$.site_admin">No</span>
    </h5>
</div>