#username {
    height: 40px;
    width: 400px;
    margin-right: 1.5px;
    padding-left: 10px;
}

#inputBtn {
    height: 40px;
    vertical-align: 4%;
    margin-left: 1.5px;
}

@media only screen and (max-width: 540px) {
    #username {
        width: 60vw;
    }
}

@media only screen and (max-width: 328px) {
    #username {
        width: 80vw;
        margin-bottom: 3px;
        margin-right: 0px;
    }

    #inputBtn {
        width: 80vw;
        margin-left: 0px;
        margin-bottom: 50px;
    }
}