<app-navbar></app-navbar>

<div class="container text-center mt-4">

    <h1 id="head">
        Welcome to the GitHub Viewer<br />
        <small>Type in a valid GitHub username to get started!</small>
    </h1>

    <form action="#" autocomplete="off">
        <input class="mt-5" id="username" type="text" placeholder="Username" [(ngModel)]="username" name="username" />
        <input type="submit" class="btn btn-primary" id="submit" value="Search" title="Search for User" (click)="validation()">
    </form>

</div>

<app-footer></app-footer>